<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @paticipant.name %>
</p>

<p>
  <b>Event:</b>
  <%= @paticipant.event_id %>
</p>


<%= link_to 'Edit', edit_paticipant_path(@paticipant) %> |
<%= link_to 'Back', paticipants_path %>
