<%= form_for(@message, url:{controller: "message", action: "send_message",event_str_id: @event.str_id}) do |f| %>
  <% if @message.errors.any? %>
 		<div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    To:<br />
    <%= f.text_field :to_arr %>
  </div><div class="field">
    件名<br />
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    本文<br />
    <%= f.text_area :content, rows: 10 %>
  </div>
  <div class="actions">
    <%= f.submit data: { confirm: '宛先多数の場合、処理に時間がかかります。よろしいですか？' }  %>
  </div>
<% end %>