<%= form_for(@fopt_master) do |f| %>
  <% if @fopt_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fopt_master.errors.count, "error") %> prohibited this fopt_master from being saved:</h2>

      <ul>
      <% @fopt_master.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br />
    <%= f.number_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :sort_order %><br />
    <%= f.number_field :sort_order %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value_type %><br />
    <%= f.text_field :value_type %>
  </div>
  <div class="field">
    <%= f.label :choices %><br />
    <%= f.text_field :choices %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
