<h1>Listing fopt_masters</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Order</th>
    <th>Name</th>
    <th>Value type</th>
    <th>Choices</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fopt_masters.each do |fopt_master| %>
  <tr>
    <td><%= fopt_master.event_id %></td>
    <td><%= fopt_master.sort_order %></td>
    <td><%= fopt_master.name %></td>
    <td><%= fopt_master.value_type %></td>
    <td><%= fopt_master.choices %></td>
    <td><%= link_to 'Show', fopt_master %></td>
    <td><%= link_to 'Edit', edit_fopt_master_path(fopt_master) %></td>
    <td><%= link_to 'Destroy', fopt_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fopt master', new_fopt_master_path %>
