<div style="background-color:#ece">
<h3>参加者一覧</h1>

<table border="0"  cellpadding="2px">
  <tr align="left">
    <th>No.</th>
    <th>名前</th>
    <th>支払金</th>
    <th>精算金</th>
    <th></th>
    <th></th>
  </tr>

<% paticipants.each_with_index do |paticipant,i| %>
  <tr>
    <td><%= i+1 %></td>
    <td><%= paticipant.name %></td>
    <td align="right"><%= number_with_delimiter(paticipant.payments_price_sum) %></td>
    <td align="right">
      <% if paticipant.payments_price_sum > event.payments_average then %>
      <font color="blue"><%= number_with_delimiter(paticipant.payments_price_sum-event.payments_average) %>(受取)</font>
      <% elsif paticipant.payments_price_sum < event.payments_average then%>
      <font color="red"><%= number_with_delimiter(-paticipant.payments_price_sum+event.payments_average) %>(支払)</font>
      <% else %>
      0
      <% end %>
    </td>
    <td><%= link_to '編集', edit_paticipant_path(paticipant) %></td>
    <td><%= link_to '削除', paticipant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '-> 参加者を1人追加', new_paticipant_path(event_id: event.id) %><br />
<%= link_to '-> 参加者をまとめて追加', paticipants_create_path(event_id: event.id,num: 2) %>
</div>