<div style="background-color:#ece" width="100%">
<h3>参加者一覧</h1>

<table border="0"  cellpadding="2px" width="100%">
  <tr align="left">
    <th>No.</th>
    <th>名前</th>
    <th>支払金</th>
    <th>精算金</th>
    <th></th>
    <th></th>
  </tr>

<% paticipants.each_with_index do |paticipant,i| %>
  <tr>
    <td><%= i+1 %></td>
    <td><%= paticipant.name %></td>
    <td align="right"><%= number_with_delimiter(paticipant.payments_price_sum) %></td>
    <td align="right">
      <% if paticipant.payments_price_sum > event.payments_average then %>
      <font color="blue"><%= number_with_delimiter(paticipant.payments_price_sum-event.payments_average) %>(受取)</font>
      <% elsif paticipant.payments_price_sum < event.payments_average then%>
      <font color="red"><%= number_with_delimiter(-paticipant.payments_price_sum+event.payments_average) %>(支払)</font>
      <% else %>
      0
      <% end %>
    </td>
    <td><%= link_to '編集', edit_paticipant_path(paticipant) %></td>
    <td><%= link_to '削除', paticipant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<p>
  <%= form_tag('/paticipants/create') do%>
  参加者をまとめて追加<br />
  <%= text_field_tag(:num,3,:size=>'3') %>人
  <%= submit_tag("追加") %>
  <%= hidden_field_tag(:event_id,event.id) %>
  <% end %>
</p>
<p>
  <%= link_to '-> 参加者を名前指定して追加', new_paticipant_path(event_id: event.id) %>
  <br /><br />
</p>
</div>