<div>
<h3>支払項目</h3>
<table border="0">
  <tr align="left">
    <th>No.</th>
    <th>参加者名</th>
    <th>立替額</th>
    <th>立替者</th>
    <th>支払人数</th>
    <th>一人あたり</th>
    <th></th>
  </tr>
  <% if payments.size>0 then %>
    <% payments.each_with_index do |payment,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= link_to "#{payment.name}", edit_payment_path(payment) %></td>
        <td align="right"><%= number_with_delimiter(payment.price.to_i)%></td>
        <td><% if payment.paticipant != nil %><%= payment.paticipant.name %><% else %><span style="color:red">(未設定)</span><% end %></td>
        <td align="right"><%= payment.payer_num %>人</td>
        <td align="right"><%= number_with_delimiter(number_with_precision(payment.price_per_paticipant,precision:0)) %></td>
        <td><%= link_to '×', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      <tr>
        <td></td>
        <td align="right"><b>計</b></td>
        <td align="right"><%= number_with_delimiter(event.payments_sum.to_i) %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td align="right"><b>一人あたり</b></td>
        <td align="right"><%= number_with_delimiter(event.payments_average.to_i) %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
</table>
<% if event.paticipants.size>0 %>
<%= link_to '-> 支払項目を追加', new_payment_path(event_id: event.id) %>
<% elsif %>
<font size="2" color="red">※最初に参加者を追加してください</font>
<% end %>
<event /><br />
</div>