
<h3>支払項目</h3>
<% if payments.any? %>
  <div class="row payment-item payment-item-header">
    <div class="col-xs-6"><%= icon 'pencil' %> 項目名</div>
    <div class="col-xs-6 text-right"><%= icon 'users' %> 合計額</div>
    <div class="col-xs-6"><%= icon 'money' %> 立替者</div>
    <div class="col-xs-6 text-right"><%= icon 'user' %> 1人あたり</div>
  </div>
  <% payments.each do |p| %>
    <div class="row payment-item">
      <div class="col-xs-6">
        <%= icon 'pencil' %>
        <%= link_to p.name, edit_payment_path(p) %>
      </div>
      <div class="col-xs-6 text-right">
        <%= icon 'users' %>
        <%= icon 'yen' %>
        <%= number_with_delimiter(p.price.to_i) %>
      </div>
      <div class="col-xs-6">
        <%= icon 'money' %>
        <%= p.paticipant.try{ |pt| pt.name } || '<span style="color:red">(未設定)</span>'.html_safe  %>
      </div>
      <div class="col-xs-6 text-right">
        <%= icon 'user' %>
        <%= icon 'yen' %>
        <%= number_with_delimiter(number_with_precision(p.price_per_paticipant, precision: 0)) %>
      </div>
    </div>
  <% end %>
<% end %>

<% if event.paticipants.any? %>
  <%= link_to '-> 支払項目を追加', new_payment_path(event_id: event.id) %>
<% else %>
  <font size="2" color="red">※最初に参加者を追加してください</font>
<% end %>
<br />
