<div style="background-color:#ffd" width="100%">
<div style="background-color:#ffd" width="100%">
<p id="notice"><%= flash[:notice] %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
	<%= render partial:"payment_list",locals:{
		payments: @event.payments.order("created_at"),
		event: @event} %>
</p>
<p>
	<%= render partial:"paticipant_list",locals:{
		paticipants: @event.paticipants.order("created_at"),
		event: @event} %>
</p>
<p>
	このイベントのurl<br />
	<input type="text" value="<%= @url %>" onTouchstart="this.select()"  onfocus="this.select()"style="width: 60%; font-size:0.8em" /><br />
	<span>
		<script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140127" ></script>
		<script type="text/javascript">
		new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a","text":"","withUrl":true});
		</script>
	</span>
</p>
<p>
	<%= link_to 'イベントを編集', edit_event_path(@event.str_id) %><br />
	<%#  link_to '<- イベント一覧', admin_events_path %> 
</p>

