


<h2><%= @event.name %></h2>
<p>
  <b>イベント説明:</b><%= link_to '編集', edit_event_path(@event.str_id) %><br />
  <%= @event.description %><br />
	<%= link_to '申込者管理', event_applicants_path(@event.str_id) %>
</p>
	
<p id="notice"><%= flash[:notice] %></p>
<div class="row">
	<div class="col-md-6 col-xs-12 bs-example">
		<%= render partial:"payment_list",locals:{
			payments: @event.payments.order("created_at"),
			event: @event} %>
	</div>
	<div class="col-md-6 col-xs-12 bs-example">
		<%= render partial:"paticipant_list",locals:{
			paticipants: @event.paticipants.order("created_at"),
			event: @event} %>
	</div>
</div>
<p>
	このイベントのurl<br />
	<input type="text" value="<%= @url %>" onTouchstart="this.select()"  onfocus="this.select()"style="width: 60%; font-size:0.8em" /><br />
	<span>
		<script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140127" ></script>
		<script type="text/javascript">
		new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a","text":"<%= @event.name %> 立替清算","withUrl":true});
		</script>
	</span>
</p>
<p>
	
	<%#  link_to '<- イベント一覧', admin_events_path %> 
</p>

<style type="text/css" media="screen">
.bs-example{
	position:relative;
	padding:0px 15px 15px;
	margin:0 0px 0px;
	background-color:#fafafa;
	box-shadow:inset 0 3px 6px rgba(0,0,0,.05);
	border-color:#e5e5e5 #eee #eee;border-style:solid;border-width:1px 0
}
</style>
