<div style="background-color:#ffd">
<p id="notice"><%= @notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
	<%= render partial:"payment_list",locals:{
		payments:Payment.find_all_by_event_id(@event.id),
		event: @event} %>
</p>
<p>
	<%= render partial:"paticipant_list",locals:{
		paticipants:Paticipant.find_all_by_event_id(@event.id),
		event: @event} %>
</p>
<p>
	<%= link_to 'イベントを編集', edit_event_path(@event) %><br />
	<%= link_to '<- イベント一覧', events_path %>
</p>

