<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :paticipant_id %><br />
    <%= f.collection_select :paticipant_id,
      Paticipant.find(:all,   conditions: ["event_id = ?",@payment.event_id] ),
      :id,:name %>
  </div>

  <div class="field">
    <%= f.hidden_field :event_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <table border="0"  cellpadding="2px">
    <% if @paticipants != nil %>
      <% @paticipants.each_with_index do |paticipant,i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= paticipant.name %></td>
          <td><%= check_box_tag "check_payment[#{paticipant.id}]", paticipant.id,
            paticipant.check_payment_exemption?(@payment.id)%></td>
        </tr>
      <% end %>
    <% end %>
  </table>

<% end %>


<div>
  <br />
  <% if @paticipants != nil %>
    支払人数：<%= @payment.payer_num %><br />
    支払金額/人：<%= number_with_precision(@payment.price_per_paticipant,precision:0) %><br />
  <% end %>
</div>

